<html>
    <body>
        <h1>Match between home and away team:</h1>
        <h2>{{homeTeam}} vs. {{awayTeam}}</h2>
        <h2>{{homeTeamScore}} - {{awayTeamScore}}</h2>
        {{ form_start(form) }}
            {{ form_row(form.homeTeamScore) }}
            {{ form_row(form.awayTeamScore) }}
            {{ form_row(form.save) }}
        {{ form_end(form) }}
        <button onclick="location.reload()">Reload</button>
    </body>
</html>