<html>
    <body>
    <a href="/">Return to index</a>
    {{ form_start(form) }}
        {{ form_row(form.homeTeam) }}
        {{ form_row(form.awayTeam) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
    </html>
</body>